@{  //@-al kezdodik akkor a rezor tudja h ez c#-os code
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Udvozlet</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Ez az elso alkalmazasom</p>
</div>
